@import "@/styles/variables.scss";
// adjust resizing for the screen

.section {
    margin-top: 4rem;
    margin-bottom: 4.5rem;

    .about__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
    }

    img {
        border-radius: 1rem;
        max-width: 50rem;
    }

    .text {
        color: $green;

        p {
            color: $green;
            font-weight: 300;
            font-family: "Montserrat";
        }
    }

    // BREAKPOINTS
  @include xs {
    .about__text {
      padding: 4rem;
    }

    img {
      width: 100%;
      height: 100%;
    }

    .text {
      font-size: 1.5rem;
      line-height: 1.6rem;
    }
  }

  @include md {
    .about__text {
      padding: 6rem;

      img {
        max-width: 40rem;
        padding-left: 1rem;
      }
    }

    .text {
      font-size: 2rem;
      line-height: 2.1rem;
    }
  }

  @include lg {
    .section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .flex__wrapper {
      padding: 5rem;
      display: flex;
      justify-content: center;
      gap: 8rem;
    }

    .about__text {
      padding: 0;
      width: 50%;
    }

    .text {
      font-size: 2.3rem;
      line-height: 2.4rem;
    }
  }

  @include xl {
    .flex__wrapper {
      gap: 12rem;
    }
  }
}