@import "@/styles/variables.scss";

.section {
    background-color: pink;
    background-image: url("/public/bg_hero.svg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80rem;
}