@import "@/styles/variables.scss";

.section {
    background-color: pink;
    background-image: url("/public/bg_hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    height: 70rem;

    .container {
        max-width: auto;
    }
}