@import "@/styles/variables.scss";

.section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  border-radius: 0 0 3rem 3rem;
  background: $beige;

  .container {
    padding: 5rem 2.5rem;
  }

  .row {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // para determinar numero de produtos na coluna

    @include md {
      grid-template-areas: "a b";
    }

    @include lg {
      grid-template-areas: "a b c";
    }
  }

  .card {
    margin: 1rem 2rem;
    background:  #FAF9F6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: $green;
    
    align-self: normal;
    flex-direction: column;
    align-items: center;

    padding: 3rem 2rem;
    border-radius: 1rem;
  }
}