@import "@/styles/variables.scss";
// change the styles on card
// 1. change the card color, make it invisible and with no box-shadow
// 2. put a box-shadow on the image

.section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  border-radius: 0 0 3rem 3rem;
  background: $beige;

  .container {
    padding: 5rem 2.5rem;
  }

  .row {
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // para determinar numero de produtos na coluna

    @include md {
      grid-template-areas: "a b";
    }

    @include lg {
      grid-template-areas: "a b c";
    }
  }

  .card {
    margin: 1rem 2rem;
    color: $green;
    align-self: normal;
    flex-direction: column;
    align-items: center;

    padding: 3rem 2rem;
  }
}