@import "@/styles/variables.scss";
// change the styles on card
// 1. change the card color, make it invisible and with no box-shadow
// 2. put a box-shadow on the image

.section {
  display: flex;
  justify-content: center;
  background: #fafafa;

  .row {
    display: grid;
    flex-wrap: wrap;
    align-items: center;

    @include md {
      grid-template-areas: "a b";
    }

    @include lg {
      grid-template-areas: "a b c";
    }
  }

  .card {
    margin: 1rem 2rem;
    color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35.2rem;
    padding: 3rem 2rem;
  }
}