@import "@/styles/variables.scss";

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: $white;
    z-index: 998;
  }

  toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

  close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 999;
  }

  .button {
    display: flex;
    border: none;
    cursor: pointer;
    padding: 1rem 1.5rem;   
    background-color: $white;     
    color: $green;

    .icon {
      align-self: center;
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }


//   toggle-btn {
//   position: fixed;
//   top: 20px;
//   left: 20px;
//   z-index: 999;
// }

// /* Button */
// .button {
//   display: flex;
//   border: none;
//   cursor: pointer;
//   background-color: $white;    
//   padding: 1rem 1.5rem;       
//   color: $green;

//     .icon {
//       align-self: center;
//       font-size: 2rem;
//       line-height: 2.4rem;
//     }
// }

// /* Sidebar */
// .sidebar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 300px;
//   height: 100vh;
//   background-color: #fff;
//   z-index: 998;

  
// }

// /* Close button */
// close-btn {
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   z-index: 999;
// }