@import "@/styles/variables.scss";

.section {
  position: relative;
}

.toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  transition: all 0.2s ease-in-out;
  margin-right: 1rem;
  gap: 0.1rem;

  &:hover {
    color: $green;
  }
}

.icon {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}

.sidebar {
  margin-top: 0.5rem;
  border-radius: 1.5rem;
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 20rem;
  max-height: 30rem;
  overflow-y: scroll;
  background-color: $white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  z-index: 10;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 1rem;
  }

  .close-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .sidebar-close {
    font-size: 1.8rem;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }
}

.cart-counter {
  background-color: $green;
  color: $white;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}