@import "@/styles/variables.scss";

// CartItem.module.scss

// Cart item container
.cartItem {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 1.1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  // Cart item image
  .cartItemImage {
    width: 10rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.25rem;

    img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  // Cart item content
  .cartItemContent {
    flex: 1;

    // Cart item title
    .cartItemTitle {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    // Cart item actions (amount, price, remove)
    .cartItemActions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      // Cart item amount
      .cartItemAmount {
        display: flex;
        align-items: center;
        margin-right: 1rem;

        button {
          border: none;
          background-color: transparent;
          color: #555;
          font-size: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border-radius: 50%;
          transition: background-color 0.2s;

          &:hover {
            background-color: #eee;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }

        span {
          font-size: 1.25rem;
          font-weight: 600;
          margin: 0 1rem;
          min-width: 2rem;
          text-align: center;
        }
      }

      // Cart item price
      .cartItemPrice {
        font-size: 1.25rem;
        font-weight: 600;
        margin-right: 1rem;

        span {
          color: #555;
        }
      }

      // Cart item remove
      .cartItemRemove {
        margin-left: auto;

        button {
          border: none;
          background-color: transparent;
          color: #555;
          font-size: 1.5rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.5rem;
          border-radius: 50%;
          transition: background-color 0.2s;

          &:hover {
            background-color: #eee;
          }
        }
      }
    }

    // Cart item total
    .cartItemTotal {
      font-size: 1.25rem;
      font-weight: 600;
      margin-top: 1rem;

      span {
        color: #555;
      }
    }
  }
}