@import "@/styles/variables.scss";

.cart {
    .card {
        display: flex;
        border: 0.2rem solid rgb(0, 0, 0, 0.1);
        
        .image {
            margin-top: 2rem;
            height: 10rem;
            width: 7.5rem;
        }
    }
}